<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <br><br>
            <i class="fa-brands fa-square-instagram"></i>
            <br><br>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand"> &copy; Wanderlust private Limited</div>
        <div class="f-info-links">
            <a href="/privacy" class="links">privacy</a>
            <br><br>
            <a href="/terms" class="links">terms</a>

        </div>
    </div>
</footer>